#DashBoard{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 5vw;

}
.DashBoardContainers{
    width: 20vw;
    height: 20vh;
    border: 1px solid black;
    background-color: aqua;
}


.ChildContainer{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
#Main_Item_Container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
    padding: 2% 10px;
    background-color:  #F8F3F3;
    border-radius: 6px;
    box-shadow: 1px 2px 1px 0px rgb(143, 142, 142);
}
@media (min-width:600px){
    .details{
        display: block;
    }
    .logo{
        height: 5em;
    } 
    .avatar{
        height: 6em;
    }
    .info-label{
        height: 20vh;
    }
}

@media (max-width:1000px){
    .info-label{
        height: 15vh;
    }
}
@media (max-width:650px){
    .info-label{
        height: 10vh;
    }
}