@import url(https://fonts.googleapis.com/css?family=Montserrat);


.main {
  margin: 0%;
  padding: 0%;
  font-family: montserrat, arial, verdana;
  position: relative;
  overflow-x: hidden;
}

.navbar {
  top: 0;
  height: 60px;
  width: 100%;
  position: sticky;
  background-color: inherit;
  z-index: 100;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.form-container {
  width: 100vw;
  height: 80vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 10px;
}

.form-container .body {
  flex: 80%;
  align-self: center;
  justify-self: center;
}

.form-container .footer {
  flex: 20%;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.form-container .footer button {
  border-radius: 7px;
  width: 100px;
  height: 40px;
  background-color: #0089ED;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 5px;
}



.label {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.label3 {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 5%;
}


.label-name {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.name {
  display: flex;
  width: 85%;
  justify-content: space-between;

}

.Ageny-Details-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: bold;
}

.Ageny-Details-container input {

  margin: 4% 0%;
  width: 45%;
  height: 40px;
  padding-left: 5px;
  font-size: 15px;
}

.Ageny-Details-container label {
  margin-left: 5%;
}

.Candidate-Info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: bold;
}

.name-container {
  width: 125%;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: bold;
}

.Candidate-Info-container input {
  margin: 4% 0%;
  width: 45%;
  height: 40px;
  padding-left: 5px;
  font-size: 15px;
}

.Candidate-Info-container .name input {
  width: 75%;
  margin: 8% -56% 5% 0%;
}

.Candidate-Info-container label {
  margin-left: 0%;
}

.Payement-Info-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: bold;
  margin-left: -22%;
  align-items: start;
}

.Payement-Info-container input {
  margin: 4% 0%;
  width: 100%;
  height: 40px;
  padding-left: 5px;
  font-size: 15px;
}

.Payement-Info-container label {
  margin: 3%;
}

input {
  border: 2px solid #0089ED;
  border-radius: 5px;
}

input:focus {
  border: 3px solid #0089ED;

}

input[type=radio] {
  margin: 3%;
  width: 5%;
  height: 14px;
}

input[type=checkbox] {
  margin: 3%;
  width: 5%;
  height: 15px;
}

.radios {
  display: flex;
  align-self: normal;
  margin: 2%;
  font-size: 15px;
}

.checkboxes {
  display: flex;
  align-self: normal;
  margin: 2%;
  width: 150%;
  font-size: 15px;
}

/* PROGRESS BAR */
.progressbar {
  display: flex;
  width: 40%;
  height: 60px;
  justify-content: space-around;
  background-color: #0089ED;
  margin-bottom: 50px;
  margin-top: 10px;
  border-radius: 2px;
}

.progressbar div {
  width: 30.3%;
  margin: 0px 5px;
  height: 80%;
  justify-self: center;
  align-self: center;
  border-radius: 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex input {
  width: 90%;
  margin-right: 2%;
}
#l1, #l2{
  align-self: start;
  margin-left: 0%;
}

/* @media (max-width:670px){
.Payement-Info-container input {
    margin: 4% 4%;
    width: 34em;
  }
.Ageny-Details-container input {
  margin: 4% 12%;
  width: 25em;
}
.Payement-Info-container label {
  margin-left: 8%;
 }
.flex{
  flex-wrap: wrap;
}
}
@media (max-width:450px){
.Ageny-Details-container input {
  width: 23em;
}
.Payement-Info-container input {
  margin: 4% 16%;
  width: 23em;
}
.Payement-Info-container label {
  margin-left: 10%;
 }
}
@media (max-width:320px){
.Ageny-Details-container input {
  width: 16em;
  margin-left: 5%;
}
.Payement-Info-container input {
  margin: 4% 24%;
  width: 16em;
}
.Payement-Info-container label {
  margin-left: 15%;
 }
.name {
flex-wrap: wrap;
}
} */